.columnar-root {
  column-width: 20rem;
  column-count: 4;
  column-gap: 1rem;
}

.columnar-tile {
  display: block;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding-top: 0.5rem;
  perspective: 100rem;
}

.columnar-tile:hover {
  text-decoration: none;
}

.columnar-tile:not(:hover){
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
}


.columnar-tile-flipper {
  transform-style: preserve-3d;
  position: relative;
  transform-origin: center left;
  border: 0.1rem solid var(--color-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.columnar-tile-flipper>img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.columnar-tile:hover>div {
  transform: rotateY(20deg);
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  -o-transform: rotateY(20deg);
}

.columnar-tile-caption {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}