@media only all and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media only all and (max-width: 350px) {
  html {
    font-size: 10px;
  }
}

@media only all and (min-width: 801px) {
  html {
    font-size: 16px;
  }
}

@media only all and (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}

:root {
  --color-primary: #52ade1;
  --color-secondary: #164693;
  --color-accent: #33FF33;
  --color-light: #FFFFFF;
  --color-dark: #282828;

  --color-primary-d50: #295771;
  --color-primary-d80: #10232d;

  --color-dark-b10: #3D3D3D;
  --color-dark-b20: #535353;
}

* {
  margin: 0px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  color: var(--color-accent);
}

a[href ^="https://"]:not(.icon-link), a[href ^="http://"]:not(.icon-link) {
  padding-right: 1rem;
  background: url('/images/external-link.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1rem 1rem;
}

.absolute {
  position: absolute;
}

.background-accent {
  background: var(--color-accent);
}

.background-dark {
  background: var(--color-dark);
}

.background-primary {
  background: var(--color-primary);
}

.background-secondary {
  background: var(--color-secondary);
}

.banner {
  height: 30rem;
  background-size: cover;
  background-position: center;
}

.banner-text {
  top: 3rem;
  left: 3rem;
  width: 20rem;
}

.banner-text>h1 {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem var(--color-dark);
}

.banner-text>p {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 1rem var(--color-dark);
}

.banner-text>a {
  display: inline-block;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
}

.button-accent {
  background-color: transparent;
  border: 0.1rem solid transparent;
  color: var(--color-accent);
  background: var(--color-dark);
  padding: 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-decoration: none;
  margin: 0.25rem;
}

.button-accent.small {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.button-accent:hover {
  border: 0.1rem solid var(--color-accent);
  text-decoration: none;
}

.button-accent:active {
  border: 0.1rem solid var(--color-accent);
  color: var(--color-dark);
  background-color: var(--color-accent);
}

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: code-new-roman;
}

.color-accent {
  color: var(--color-accent);
}

.color-dark {
  color: var(--color-dark);
}

.color-light {
  color: var(--color-light);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.columnar-root {
  column-width: 20rem;
  column-count: 4;
  column-gap: 1rem;
}

.columnar-root.col-3 {
  column-width: 30rem;
  column-count: 3;
}

.columnar-root>a {
  display: inline-block;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.columnar-root>a:hover>figure {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.columnar-root:hover>a>figure:not(:hover) {
  opacity: 0.4;
}

.display-inline-block {
  display: inline-block;
}

figure {
  border: 0.1rem solid var(--color-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: inline-block;
}

figure img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

figure figcaption {
  padding: 0.5rem;
}

figure figcaption>* {
  margin: 0;
  padding: 0;
}

.fill-horz {
  width: 100%;
}

.fill-vert {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

footer {
  bottom: 0px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

footer>div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
}

footer>hr {
  height: 1rem;
  border: none;
}

footer>h1 {
  text-align: center;
  font-size: 1rem;
  margin: 0.25rem;
}

footer>span {
  margin: 0 auto;
}

footer>span>a {
  text-align: center;
  font-size: 0.75rem;
  margin: 0.25rem;
}

.footer-brad {
  height: 6.95rem;
  width: 6.95rem;
  bottom: 0px;
  overflow: hidden;
  left: 0px;
}

.footer-brad-sprite {
  height: 14rem;
  width: 21rem;
  background-image: url('/images/brad-sprite.png');
  background-size: contain;
  bottom: 0rem;
  left: 0rem;
}

header {
  min-height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

header>a {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
}

header>a:hover, header>a:active {
  color: var(--color-dark);
  text-decoration: none;
}

.header-right {
  display: flex;
  margin: 0 0.25rem 0 auto;
}

h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.hidden-link, .hidden-link:hover, .hidden-link:active, .hidden-link:visited {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.hidden-text {
  opacity: 0.0;
  transition: 5s opacity;
  -webkit-transition: 5s opacity;
  -moz-transition: 5s opacity;
  -ms-transition: 5s opacity;
  -o-transition: 5s opacity;
}

.hidden-text:hover, .hidden-text:active {
  opacity: 1.0;
}

html {
  background: var(--color-dark);
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.icon-link {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  background-size: contain;
  opacity: 0.8;
}

.icon-link:hover {
  opacity: 1.0;
}

.icon-link.contact {
  background-image: url('/images/menu-wheel-contact-light.png');
}

.icon-link.external {
  background-image: url('/images/menu-wheel-external-light.png');
}

.icon-link.github {
  background-image: url('/images/github.png');
}

.icon-link.search {
  background-image: url('/images/menu-wheel-search-light.png');
}

main {
  padding: 0 0 10rem 0;
}

.main-text {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.main-text::after {
  content: "";
  clear: both;
  display: table;
}

.main-text>img, .main-text>a>img {
  width: 25rem;
  max-width: 100%;
  max-height: 40rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.menu-wheel {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  border: none;
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  transition: 1s width;
  -webkit-transition: 1s width;
  -moz-transition: 1s width;
  -ms-transition: 1s width;
  -o-transition: 1s width;
}

.menu-wheel:hover {
  width: 12.92rem;
}

.menu-wheel>h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 8.92rem;
  text-align: left;
  white-space: nowrap;
  font-weight: bold;
  margin: 0 0 0 0.5rem;
}

.menu-wheel:hover, .menu-wheel:active {
  color: var(--color-dark);
  text-decoration: none;
}

.menu-wheel-icon {
  height: 3rem;
  width: 3rem;
  margin: 0.25rem;
  background-size: contain;
  flex-shrink: 0;
}

.menu-wheel-icon.b-rad {
  background-image: url('/images/menu-wheel-b-rad.png');
}

.menu-wheel-icon.portfolio {
  background-image: url('/images/menu-wheel-portfolio.png');
}

.menu-wheel-icon.labs {
  background-image: url('/images/menu-wheel-labs.png');
}

.menu-wheel-icon.life {
  background-image: url('/images/menu-wheel-life.png');
}

.menu-wheel-icon.contact {
  background-image: url('/images/menu-wheel-contact.png');
}

p {
  padding-bottom: 1rem;
}

.relative {
  position: relative;
}

.spoiler-button {
  margin-bottom: 0.5rem;
}

.spoiler-button[value='Reveal Spoilers'] + .spoiler-content>div {
  margin-top: -500%;
}

.spoiler-content {
  overflow: hidden;
  background: var(--color-dark-b10);
  padding: 0.5rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-body {
  font-family: quicksand;
}

.text-body-dash {
  font-family: quicksand-dash;
}

.text-light {
  font-weight: lighter;
}

.text-monospace {
  font-family: code-new-roman;
}

.text-title {
  font-family: tektrron;
}

.transition-all-7s {
  transition: all 7s, font-size 1ms;
  -webkit-transition: all 7s, font-size 1ms;
  -moz-transition: all 7s, font-size 1ms;
  -ms-transition: all 7s, font-size 1ms;
  -o-transition: all 7s, font-size 1ms;
}

.transition-all-3s {
  transition: all 3s, font-size 1ms;
  -webkit-transition: all 3s, font-size 1ms;
  -moz-transition: all 3s, font-size 1ms;
  -ms-transition: all 3s, font-size 1ms;
  -o-transition: all 3s, font-size 1ms;
}

.transition-all-2s {
  transition: all 2s, font-size 1ms;
  -webkit-transition: all 2s, font-size 1ms;
  -moz-transition: all 2s, font-size 1ms;
  -ms-transition: all 2s, font-size 1ms;
  -o-transition: all 2s, font-size 1ms;
}

.transition-all-1s {
  transition: all 1s, font-size 1ms;
  -webkit-transition: all 1s, font-size 1ms;
  -moz-transition: all 1s, font-size 1ms;
  -ms-transition: all 1s, font-size 1ms;
  -o-transition: all 1s, font-size 1ms;
}

.transition-all-500ms {
  transition: all 500ms, font-size 1ms;
  -webkit-transition: all 500ms, font-size 1ms;
  -moz-transition: all 500ms, font-size 1ms;
  -ms-transition: all 500ms, font-size 1ms;
  -o-transition: all 500ms, font-size 1ms;
}

.transition-all-300ms {
  transition: all 300ms, font-size 1ms;
  -webkit-transition: all 300ms, font-size 1ms;
  -moz-transition: all 300ms, font-size 1ms;
  -ms-transition: all 300ms, font-size 1ms;
  -o-transition: all 300ms, font-size 1ms;
}

.transition-transform-1s {
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.transform-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.transformXn50 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.transformYn50 {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.transformYp100 {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

ul {
  padding-left: 1.5rem;
}