/******************************* Loading Screen *******************************/

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 50px;
  z-index: 1000;
  overflow: hidden;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

#loading-screen>* {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#loading-screen>canvas {
  width: 800px;
  height: 800px;
}

#loading-screen>span {
  width: 100%;
  text-align: center;
}

/************************************ Main ************************************/

#scroll-container>* {
  position: absolute;
  width: 100%;
}

body {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.distance {
  position: fixed;
  bottom: 150px;
  left: 0;
  width: 100%;
  height: 100%;
}

.distance * {
  position: absolute;
}

.scene {
  bottom: 0;
  left: 0;
}

/********************************** Scenery ***********************************/

.sky {
  background: linear-gradient(rgba(40, 40, 40, 0), rgba(0, 0, 192, 1), rgba(135, 206, 235, 1));
  width: 2000px;
  height: 2000px;
  bottom: -200px;
}

.ground {
  width: 100%;
  height: 150px;
  bottom: -150px
}

.ground.dirt {
  background: rgb(139, 62, 25);
}

.d3>* {
  bottom: -4px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.d4>* {
  bottom: -4px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.tree {
  bottom: 0;
}

.tree.small {
  width: 150px;
  height: 300px;
  background-image: url(images/tree-1.png);
}

.tree.medium {
  width: 200px;
  height: 400px;
  background-image: url(images/tree-2.png);
}

.tree.large {
  width: 300px;
  height: 600px;
  background-image: url(images/tree-3.png);
}

.tree.huge {
  width: 400px;
  height: 800px;
  background-image: url(images/tree-4.png);
}

.cloud.small {
  width: 300px;
  height: 100px;
  background-image: url(images/cloud-1.png);
}

.cloud.large {
  width: 400px;
  height: 150px;
  background-image: url(images/cloud-2.png);
}

/*
.page {
  height: 30000px;
}

.page-container {
  position: fixed;
  top: 0;
}

.button-accent {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.jump-up {
  -webkit-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
  -moz-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
  -ms-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
  -o-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
  transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
}

.jump-down {
  -webkit-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  -moz-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  -ms-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  -o-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.scene-background {
  width: 8000px;
  height: 8000px;
  bottom: 0;
  background-color: transparent;
}

.scene-background.super-far {
  left: 500px;
  width: 5000px;
  height: 5000px;
}

.scene, .scene-foreground {
  bottom: 0;
}

.scene.lab {
  width: 3000px;
}

.ground {
  max-height: 200px;
  height: 15%;
  bottom: 0;
}

.flooring {
  height: 40px;
}


.lab>.flooring {
  background-image: url(images/ground-flooring-concrete.png);
}

.rocket>.flooring {
  background-image: url(images/ground-flooring-tile.png);
  height: 30px;
}

.foundation {
  height: 160px;
}

.lab>.foundation {
  background-image: url(images/ground-pipes.png);
  top: 40px;
}

.rocket>.foundation {
  background-image: url(images/ground-rocket-pipes.png);
}

.lab>.background {
  width: 5400px;
  height: 400px;
  background-image: url(images/background-lab.png);
}

.lab>.background>.ceiling {
  width: 5400px;
  height: 75px;
  bottom: 375px;
  background-image: url(images/ceiling-lab.png);
}

.rocket>.background {
  width: 2380px;
  height: 700px;
  left: 15px;
  background-color: #737373;
}

.rocket>.background>div {
  background-image: url('images/background-engine-room.png');
}

.wall {
  width: 30px;
}

.lab>.wall {
  height: 400px;
  background-image: url(images/wall-lab.png);
}

.rocket>.wall {
  height: 100%;
  bottom: 650px;
  background-image: url(images/wall-rocket.png);
}

.display-800 {
  width: 800px;
  height: 380px;
  background-image: url(images/display-800.png);
}

.display-600 {
  width: 600px;
  height: 380px;
  background-image: url(images/display-600.png);
}

.teleporter {
  height: 400px;
  width: 261px;
  background-image: url(images/teleporter.png);
}

.teleporter-science {
  height: 400px;
  width: 261px;
  background-image: url(images/teleporter-science.png);
}

.teleporter-console {
  height: 275px;
  width: 240px;
  left: 320px;
  background-image: url(images/teleporter-console.png);
}

.teleporter-console>h1 {
  height: 55px;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
}

.teleporter-console>div {
  left: 35px;
  bottom: 20px;
  width: 170px;
  height: 200px;
}

.teleporter-console>div>* {
  font-size: 22px;
  height: 14.2857%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.title-sign {
  width: 450px;
  height: 240px;
  text-align: center;
  left: 675px;
  top: 0;
  background-image: url(images/title-sign.png);
}

.title-sign>div {
  width: 410px;
  height: 160px;
  overflow: hidden;
  bottom: 20px;
  left: 20px;
}

.title-sign-wrapper {
  height: 200%;
}

.title-sign-wrapper>h1 {
  font-size: 64px;
  top: 25%;
}

.title-sign-wrapper>h2 {
  font-size: 32px;
  top: calc(50% + 10px);
}

.title-sign-wrapper>h3 {
  font-size: 24px;
  margin: 0;
  top: calc(50% + 60px);
  width: 328px;
  left: 41px;
}

.hanging-sign {
  width: 240px;
  height: 160px;
  text-align: center;
  background-image: url(images/hanging-sign.png);
}

.hanging-sign>h1, .hanging-sign>h2, .hanging-sign>h3 {
  top: 100px;
}

.hanging-sign>h1 {
  font-size: 32px;
}

.hanging-sign>h2 {
  font-size: 26px;
}

.hanging-sign>h3 {
  font-size: 24px;
}

.discipline-label {
  width: 1036px;
  height: 380px;
  overflow: hidden;
}

.discipline-label>h1 {
  font-size: 24px;
}

.discipline-label>.line {
  height: 6px;
  background-image: url(images/caution-tape.png);
}

.discipline-tank {
  width: 218px;
  height: 380px;
  background-image: url(images/discipline-tank.png);
}

.discipline-tank>h1 {
  width: 200px;
  top: 340px;
  height: 40px;
  text-align: center;
  font-size: 24px;
}

.discipline-tank-fluid {
  width: 146px;
  height: 350px;
  background-color: #FF08C2;
  opacity: 0.7;
}

.fluid-bubble {
  -webkit-animation: bubble-float infinite linear;
  animation: bubble-float infinite linear;
  bottom: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.4;
}

.fluid-bubble:nth-child(6n+0) {
  -webkit-animation-delay: 50ms;
  -webkit-animation-duration: 1500ms;
  animation-delay: 50ms;
  animation-duration: 1500ms;
}

.fluid-bubble:nth-child(6n+1) {
  -webkit-animation-delay: 600ms;
  -webkit-animation-duration: 2000ms;
  animation-delay: 600ms;
  animation-duration: 2000ms;
}

.fluid-bubble:nth-child(6n+2) {
  -webkit-animation-delay: 200ms;
  -webkit-animation-duration: 1900ms;
  animation-delay: 200ms;
  animation-duration: 1900ms;
}

.fluid-bubble:nth-child(6n+3) {
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-duration: 1300ms;
}

.fluid-bubble:nth-child(6n+4) {
  -webkit-animation-delay: 100ms;
  -webkit-animation-duration: 1800ms;
  animation-delay: 100ms;
  animation-duration: 1800ms;
}

.fluid-bubble:nth-child(6n+5) {
  -webkit-animation-delay: 650ms;
  -webkit-animation-duration: 2200ms;
  animation-delay: 650ms;
  animation-duration: 2200ms;
}

.particle-viewer {
  width: 498px;
  height: 350px;
  left: 3800px;
}

.particle-viewer-frame {
  width: 500px;
  height: 350px;
  background-image: url(images/particle-viewer.png);
  top: 0;
  left: -1px;
}

.particle-viewer-image-wrapper {
  left: 24px;
  bottom: 50px;
  width: 450px;
  height: 275px;
  overflow: hidden;
}

.particle-viewer-image {
  bottom: 0;
}

.particle-viewer-particles {
  width: 110%;
  bottom: 0;
  left: 0;
  background-image: url('images/particle.png');
  background-position: bottom;
  -webkit-animation: particle-viewer-image infinite linear 15s, particle-viewer-particle infinite linear 1s;
  animation: particle-viewer-image infinite linear 15s, particle-viewer-particle infinite linear 1s;
}

.particle-viewer-lightning {
  left: 25px;
  bottom: 50px;
  width: 450px;
  height: 275px;
  background-image: url('images/particle-viewer-lightning.png');
}

.lcd-wsu {
  width: 350px;
  height: 350px;
  left: 4975px;
  background-image: url('images/lcd-wsu.png');
}

.lcd-wsu-on {
  width: 350px;
  height: 350px;
  background-image: url('images/lcd-wsu-on.png');
}

.battery {
  width: 59px;
  height: 59px;
  background-image: url('images/battery.png');
}

.rover {
  width: 225px;
  height: 155px;
  left: 1300px;
}

.rover-chassis {
  width: 225px;
  height: 40px;
  bottom: 15px;
  background-image: url('images/rover-chassis.png');
}

.rover-mast {
  width: 34px;
  height: 100px;
  left: 185px;
  bottom: 55px;
  background-image: url('images/rover-mast.png');
}

.rover-wheel {
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url('images/rover-wheel.png');
  image-rendering: auto;
}

.rover-tractor-beam {
  width: 200px;
  height: 75px;
  top: -30px;
  left: 215px;
  transform-origin: 0% 50%;
  background-image: url('images/rover-tractor-beam.png');
}

.elevator-cargo {
  width: 300px;
  height: 20px;
  left: 6263px;
  transform: translateY(20px);
  background-image: url('images/caution-tape.png');
}

.thruster {
  width: 31px;
  height: 19px;
  background-image: url('images/thruster.png');
}

.thruster-on {
  width: 31px;
  height: 19px;
  background-image: url('images/thruster-on.png');
}

.rocket {
  width: 2420px;
  height: 7000px;
  left: 6563px;
}

.bridge-window {
  width: 820px;
  height: 400px;
  left: 800px;
  bottom: 4360px;
  background-position: center;
  background-image: url('images/bridge-window.png');
}

.bridge-window>h1 {
  font-size: 24px;
  text-align: center;
  top: 308px;
}

.bridge-window>canvas {
  width: 26px;
  height: 33px;
  left: 460px;
  top: 306px;
}

.bridge-left {
  width: 780px;
  height: 400px;
  left: 25px;
  bottom: 4360px;
  background-image: url('images/bridge-left.png');
}

.bridge-right {
  width: 780px;
  height: 400px;
  right: 25px;
  bottom: 4360px;
  background-image: url('images/bridge-right.png');
}

.rocket-engine {
  width: 400px;
  height: 600px;
  background-image: url('images/rocket-engine.png');
  bottom: 50px;
}

.rocket-hatch {
  width: 30px;
  height: 300px;
  background-image: url('images/wall-rocket-door.png');
}

.rocket-hatch-close {
  transform: translateY(0);
  -webkit-transition: left 1s ease 1s, transform 1s ease;
  -moz-transition: left 1s ease 1s, transform 1s ease;
  -o-transition: left 1s ease 1s, transform 1s ease;
  transition: left 1s ease 1s, transform 1s ease;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.rocket-hatch-open {
  transform: translateY(-330px);
  -webkit-transition: left 1s ease, transform 0.5s ease 0.5s;
  -moz-transition: left 1s ease, transform 0.5s ease 0.5s;
  -o-transition: left 1s ease, transform 0.5s ease 0.5s;
  transition: left 1s ease, transform 0.5s ease 0.5s;
  -ms-transition: left 1s ease, transform 0.5s ease 0.5s;
}

.rocket-hatch-frame {
  width: 30px;
  height: 300px;
  background-color: #BFBFBF;
}

.skills-wrapper {
  width: 770px;
  height: 350px;
  bottom: 1125px;
  left: 595px;
}

.skills-wrapper>h1 {
  text-align: center;
  font-size: 26px;
}

.skills-wrapper>h2 {
  margin: 4px 0 0 260px;
  font-size: 22px;
}

.skills-wrapper>h2>span {
  width: 120px;
  display: inline-block;
}

.skills-wrapper>h3 {
  margin: 14px 0 0 10px;
  font-size: 22px;
}

.skills-wrapper>.line {
  width: 2px;
  height: 290px;
  bottom: 5px;
}

.skills {
  height: 24px;
  left: 261px;
}

.skills.battery {
  background-image: url('images/skills-battery.png');
}

.skills.code {
  background-image: url('images/skills-code.png');
}

.skills.hardware {
  background-image: url('images/skills-wrench.png');
}

.skills.fine-art {
  background-image: url('images/skills-pencil.png');
}

.console {
  width: 150px;
  height: 210px;
  left: 1400px;
  bottom: 1180px;
  background-image: url('images/engine-room-console.png');
}

.console>h1 {
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 26px;
}

.console>div {
  width: 130px;
  height: 140px;
  top: 60px;
  left: 10px;
}

.console>div>button {
  height: 25%;
  font-size: 20px;
}

.engine-room-wire {
  width: 100px;
  height: 20px;
  left: 329px;
  bottom: 1000px;
  background-image: url('images/rocket-engine-power-cable.png');
  background-position: right;
}

.engine-room-wire>div {
  width: 19px;
  height: 28px;
  right: 0;
  bottom: -4px;
  background-image: url('images/rocket-engine-power-plug.png');
}

.engine-room-jack {
  width: 39px;
  height: 76px;
  left: 1700px;
  bottom: 950px;
  background-image: url('images/rocket-engine-power-jack.png');
}

.engine-room-cables {
  width: 517px;
  height: 250px;
  bottom: 1400px;
  background-image: url('images/rocket-engine-room-cables.png');
}

.engine-room-cables-long {
  width: 669px;
  height: 250px;
  bottom: 1400px;
  background-image: url('images/rocket-engine-room-cables-long.png');
}

.pneumatic-tube {
  width: 150px;
  height: 3160px;
  bottom: 1200px;
  left: 8763px;
  background-image: url('images/pneumatic-elevator-tube.png');
}

.pneumatic-tube:nth-of-type(2) {
  height: 400px;
  bottom: 4610px;
  left: 6713px;
}

.pneumatic-tube-station {
  width: 150px;
  height: 250px;
  background-image: url('images/pneumatic-elevator-station.png');
}

.pneumatic-tube-station-rear {
  width: 150px;
  height: 250px;
  background-image: url('images/pneumatic-elevator-station-rear.png');
}

.pneumatic-tube-station-rear>div {
  width: 150px;
  height: 250px;
  background-image: url('images/pneumatic-elevator-station.png');
}

.experience-panel {
  left: 15px;
  top: 15px;
  height: 350px;
  width: 570px;
  text-align: center;
}

.experience-panel>h1 {
  font-size: 24px;
  margin: 3px 0;
}

.experience-panel>h2 {
  font-size: 22px;
}

.experience-panel>h3 {
  font-size: 18px;
}

.experience-panel>h4 {
  font-size: 18px;
  right: 5px;
  bottom: 5px;
}

.experience-panel>div>h1 {
  font-size: 18px;
}

.experience-panel>canvas {
  width: 240px;
  height: 240px;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
}

.experience-panel>span {
  font-size: 16px;
  width: 280px;
  height: 230px;
  bottom: 25px;
  right: 10px;
  text-align: left;
}

.box>h1 {
  font-size: 20px;
  text-align: center;
}

.box.square-100 {
  width: 100px;
  height: 100px;
  background-image: url('images/box-square-100.png');
}

.box.square-100>h1 {
  width: 100%;
  bottom: 15px;
}

.box.square-70 {
  width: 70px;
  height: 70px;
  background-image: url('images/box-square-70.png');
}

.box.square-70>h1 {
  width: 100%;
  bottom: 12px;
  font-size: 14px;
}

.box.end-100 {
  width: 100px;
  height: 100px;
  background-image: url('images/box-end-square-100.png');
}

.box.end-100>h1 {
  width: 100%;
  bottom: 15px;
}

.box.rect-100 {
  width: 200px;
  height: 100px;
  background-image: url('images/box-rect-100.png');
}

.box.rect-100>h1 {
  left: 25px;
  bottom: 20px;
}

.box.rect-70 {
  width: 180px;
  height: 70px;
  background-image: url('images/box-rect-70.png');
}

.box.rect-70>h1 {
  right: 15px;
  bottom: 12px;
  font-size: 14px;
}

.box.rect-30 {
  width: 110px;
  height: 30px;
  background-image: url('images/box-rect-30.png');
}

.project {
  width: 750px;
  height: 458px;
  left: 675px;
  bottom: 47px;
  background-size: 100% 100%;
  text-decoration: none;
  text-align: center;
  transform-origin: 50% 100%;
  transform: translate(-50%) scale(1.0);
}

.project:hover {
  text-decoration: none;
}

.project>h1 {
  font-size: 30px;
  padding: 3px 10px;
}

.project>h2 {
  font-size: 22px;
  padding: 3px 10px;
}

.project>p {
  font-size: 18px;
  padding: 3px 10px;
}

.project>div {
  width: 300px;
  height: 300px;
  left: 225px;
  bottom: 0;
}

.project-viewer {
  width: 1200px;
  height: 530px;
  left: 50%;
  bottom: 5010px;
  background-image: url('images/project-viewer.png');
}

.project-viewer>h1 {
  font-size: 32px;
  width: 300px;
  margin: 32px 0;
  text-align: center;
}

.project-viewer-lightning {
  width: 408px;
  height: 180px;
  left: 330px;
  bottom: 20px;
  background-image: url('images/project-viewer-lightning.png');
}

.project-viewer-stand {
  width: 5px;
  height: 10px;
  left: 900px;
  bottom: 25px;
  background-image: url('images/project-viewer-stand.png');
}

.project-viewer-conveyor {
  width: 99px;
  height: 19px;
  left: 50%;
  top: -19px;
  background-image: url('images/project-viewer-conveyor.png');
}

.project-viewer-buttons {
  width: 220px;
  height: 390px;
  left: 40px;
  top: 100px;
}

.project-viewer-buttons>button, .project-viewer-buttons>a {
  width: 100%;
  height: 8.33333%;
  font-size: 20px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.shuttle {
  width: 198px;
  height: 275px;
  bottom: 5010px;
  left: 1899px;
  background-image: url('images/shuttle-left.png');
}

.shuttle-thrust {
  width: 12px;
  height: 45px;
  bottom: 5px;
  left: -12px;
  background-image: url('images/shuttle-thrust.png');
}

.shuttle-foreground {
  width: 283px;
  height: 275px;
  bottom: 5010px;
  left: 8660px;
  background-image: url('images/shuttle-right.png');
}

.shuttle-door-top {
  width: 115px;
  height: 140px;
  top: 10px;
  left: 83px;
  transform-origin: 50% 0%;
}

.shuttle-door-top.exterior {
  background-image: url('images/shuttle-door-top-exterior.png');
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shuttle-door-top.interior {
  background-image: url('images/shuttle-door-top-interior.png');
}

.shuttle-door-bottom {
  width: 115px;
  height: 60px;
  bottom: 65px;
  left: 83px;
  transform-origin: 50% 100%;
}

.shuttle-door-bottom.exterior {
  background-image: url('images/shuttle-door-bottom-exterior.png');
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shuttle-door-bottom.interior {
  background-image: url('images/shuttle-door-bottom-interior.png');
}

.shook {
  animation: shake 0.5s infinite linear;
  -webkit-animation: shake 0.5s infinite linear;
}

.space {
  width: 5000px;
  height: 7000px;
  left: 9000px;
}

.award-meteor {
  width: 400px;
  height: 400px;
}

.award-meteor>div {
  background: url('images/award-meteor.png');
  animation: meteor-roll 15s infinite linear;
  -webkit-animation: meteor-roll 15s infinite linear;
}

.award-meteor>span {
  width: 300px;
}

.award-meteor>span>h1 {
  font-size: 32px;
  text-align: center;
  text-shadow: 0 0 5px #737373, 0 0 10px #737373, 0 0 15px #737373, 0 0 20px #737373;
}

.award-meteor>span>h2 {
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px #737373, 0 0 10px #737373, 0 0 15px #737373, 0 0 20px #737373;
}

.mars {
  width: 5200px;
  height: 300px;
  bottom: 4280px;
  left: 3200px;
  background: url('images/ground-mars.png');
}

.mars-mountains {
  width: 4800px;
  height: 100px;
  bottom: 45000px;
  left: 6000px;
  background: url('images/mars-mountains.png');
  -webkit-transform: translateY(-4000px);
  -moz-transform: translateY(-4550px);
  -ms-transform: translateY(-4550px);
  -o-transform: translateY(-4550px);
  transform: translateY(-4550px);
}

.mars-lander {
  width: 300px;
  height: 141px;
  left: 1800px;
  bottom: 280px;
  background: url('images/mars-lander.png');
}

.mars-lander-mast {
  width: 24px;
  height: 300px;
  bottom: 105px;
  left: 230px;
  background: url('images/mars-lander-mast.png');
  transform-origin: 0% 100%;
  -webkit-transform: scale(1.41, 0);
  -moz-transform: scale(1.41, 0);
  -ms-transform: scale(1.41, 0);
  -o-transform: scale(1.41, 0);
  transform: scale(1.41, 0);
}

.mars-lander-mast>form {
  right: 24px;
  width: 300px;
  height: 240px;
  border: 5px solid #737373;
  transform-origin: 100% 0%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.mars-lander-mast>form>h1 {
  font-size: 18px;
  width: 280px;
  left: 10px;
  top: 3px;
  text-align: center;
}

.mars-lander-mast>form>input {
  font-size: 14px;
  width: 276px;
  left: 10px;
  top: 27px;
  border: none;
  padding: 2px;
}

.mars-lander-mast>form>textarea {
  font-size: 14px;
  width: 276px;
  left: 10px;
  top: 57px;
  height: 120px;
  border: none;
  padding: 2px;
  resize: none;
}

.mars-lander-mast>form>button {
  font-size: 18px;
  width: 280px;
  left: 10px;
  bottom: 27px;
}

.mars-lander-mast>form>a {
  font-size: 18px;
  width: 280px;
  left: 10px;
  bottom: 3px;
  text-align: center;
}

.mars-lander-flag {
  height: 120px;
  width: 160px;
  top: 0;
  left: 24px;
  background: url('images/mars-lander-flag.png');
  background-size: 100% 100%;
  image-rendering: auto;
  transform-origin: 0% 0%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
} */