/******************************** Scene Intro *********************************/

#scene-intro {
  width: 1900px;
}

#scroll-down {
  width: 100vw;
  text-align: center;
  bottom: -60px;
  animation: flash 1.5s infinite;
  -webkit-animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  60% {
    opacity: 0.0;
  }
  99% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/********************************* Scene Lab **********************************/

#scene-lab {
  width: 4200px;
  left: 1900px;
}

#scene-lab .ceiling {
  width: 100%;
  height: 75px;
  bottom: 375px;
  background-image: url(images/lab-ceiling.png);
}

#scene-lab .door {
  width: 30px;
  height: 400px;
  background-image: url(images/lab-door.png);
}

#scene-lab .wall {
  width: 100%;
  height: 400px;
  background-image: url(images/lab-wall.png);
}

#lab-teleporter {
  height: 400px;
  width: 261px;
  left: 50px;
  background-image: url(images/teleporter.png);
}

#lab-console {
  height: 275px;
  width: 240px;
  left: 330px;
  background-image: url(images/teleporter-console.png);
}

#lab-console * {
  position: unset;
}

#lab-console>h1 {
  height: 55px;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  color: var(--color-primary);
  font-family: tektrron;
  margin: 0;
}

#lab-console>div {
  margin: 0 auto;
  background: var(--color-dark);
  width: 170px;
  height: 200px;
}

#lab-console>div>* {
  width: 100%;
  height: 16.666%;
  font-size: 22px;
  font-family: code-new-roman;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#lab-tanks {
  left: 1000px;
  width: 1036px;
  height: 380px;
  font-family: code-new-roman;
}

#lab-tanks>hr {
  width: 100%;
  height: 6px;
  background-image: url(images/caution-tape.png);
  border: none;
}

#lab-tanks>h1 {
  font-size: 24px;
  color: var(--color-dark);
}

#lab-tanks>.fluid {
  width: 146px;
  bottom: 10px;
  background-color: #FF08C2;
  opacity: 0.7;
}

#lab-tanks>.fluid.excellent {
  height: 320px;
}

#lab-tanks>.fluid.skilled {
  height: 256px;
}

#lab-tanks>.fluid>.bubble {
  -webkit-animation: bubble-float infinite linear;
  animation: bubble-float infinite linear;
  bottom: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.4;
}

@keyframes bubble-float {
  0% {
    transform: translateY(0) scale(0.1);
    -webkit-transform: translateY(0) scale(0.1);
    -moz-transform: translateY(0) scale(0.1);
    -ms-transform: translateY(0) scale(0.1);
    -o-transform: translateY(0) scale(0.1);
  }
  70% {
    transform: translateY(-245px) scale(0.8);
    -webkit-transform: translateY(-245px) scale(0.8);
    -moz-transform: translateY(-245px) scale(0.8);
    -ms-transform: translateY(-245px) scale(0.8);
    -o-transform: translateY(-245px) scale(0.8);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-350px) scale(1.0);
    -webkit-transform: translateY(-350px) scale(1.0);
    -moz-transform: translateY(-350px) scale(1.0);
    -ms-transform: translateY(-350px) scale(1.0);
    -o-transform: translateY(-350px) scale(1.0);
    opacity: 0;
  }
}

#lab-tanks>.tank {
  width: 218px;
  height: 380px;
  background-image: url(images/lab-tank.png);
}

#lab-tanks>.tank>h1 {
  width: 200px;
  top: 340px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  color: var(--color-dark);
  margin: 0;
}

#lab-particle-viewer {
  left: 2600px;
}

#lab-particle-viewer>* {
  bottom: 0;
}

#lab-particle-image {
  left: 25px;
  bottom: 50px;
  width: 450px;
  height: 275px;
  background: var(--color-dark);
  overflow: hidden;
}

#lab-particles {
  width: 500px;
  height: 100%;
  bottom: 0;
  background-image: url(images/lab-particle.png);
  animation: lab-particles infinite 3s linear;
  -webkit-animation: lab-particles infinite 3s linear;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
}

@keyframes lab-particles {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
  }
}

#lab-particle-image>.mask {
  bottom: 0;
  width: 100%;
  height: 100%;
}

#lab-particle-lightning {
  left: 25px;
  bottom: 50px;
  width: 450px;
  height: 275px;
  background-image: url(images/lab-particle-lightning.png);
}

#lab-particle-frame {
  width: 500px;
  height: 350px;
  background-image: url(images/lab-particle-frame.png);
}

#lab-wsu {
  width: 350px;
  height: 350px;
  left: 3760px;
  background-image: url(images/lab-wsu.png);
}

#lab-wsu>div {
  width: 350px;
  height: 350px;
  background-image: url(images/lab-wsu-on.png);
  animation: flash 2s infinite;
  -webkit-animation: flash 2s infinite;
}

#lab-battery {
  width: 59px;
  height: 59px;
  background-image: url(images/lab-battery.png);
}

#lab-rover {
  left: 700px;
}

/****************************** Scene Launch Pad ******************************/

/******************************** Scene Rocket ********************************/

/***************************** Scene Astroid Belt *****************************/

/********************************* Scene Mars *********************************/