/******************************** Scene Intro *********************************/

#scene-intro {
  width: 1900px;
}

#scroll-down {
  width: 100vw;
  text-align: center;
  bottom: -60px;
  animation: flash 1.5s infinite;
  -webkit-animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  60% {
    opacity: 0.0;
  }
  99% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/********************************* Scene Lab **********************************/

#scene-lab {
  width: 4200px;
  left: 1900px;
}

#scene-lab .ceiling{
  width: 100%;
  height: 75px;
  bottom: 375px;
  background-image: url(images/lab-ceiling.png);
}

#scene-lab .door{
  width: 30px;
  height: 400px;
  bottom: 0px;
  background-image: url(images/lab-door.png);
}

#scene-lab .wall{
  width: 100%;
  height: 400px;
  bottom: 0px;
  background-image: url(images/lab-wall.png);
}

/****************************** Scene Launch Pad ******************************/

/******************************** Scene Rocket ********************************/

/***************************** Scene Astroid Belt *****************************/

/********************************* Scene Mars *********************************/