@font-face {
	font-family: 'tektrron';
	src: url('../fonts/tektrron.eot');
	src: url('../fonts/tektrron.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tektrron.woff') format('woff'),
		url('../fonts/tektrron.svg#tektrronregular') format('svg'),
		url('../fonts/tektrron.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'code-new-roman';
	src: url('../fonts/code-new-roman.eot');
	src: url('../fonts/code-new-roman.eot?#iefix')
		format('embedded-opentype'), url('../fonts/code-new-roman.woff')
		format('woff'),
		url('../fonts/code-new-roman.svg#code_new_romanregular') format('svg'),
		url('../fonts/code-new-roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	image-rendering: pixelated;
}

.page {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 30000px;
	background-color: #000000;
}

.absolute {
	position: absolute;
}

.loading-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #33FF33;
	left: 0px;
	top: 0px;
	font-family: tektrron;
	font-size: 50px;
	-webkit-transition: transform 1.0s;
	transition: transform 1.0s;
	z-index: 1000;
	overflow: hidden;
}

.loading-screen-text {
	width: 620px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
}

.loading-screen-text>span {
	vertical-align: middle;
}

.loading-canvas {
	background-color: #000000;
	width: 800px;
	height: 800px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.brad {
	width: 600px;
	height: 400px;
	background-image: url(images/brad-sprite.png);
}

.brad-container {
	width: 200px;
	height: 200px;
	left: 50%;
}

.brad-jump-container {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.brad-eyes {
	bottom: 159px;
}

.jump-up-small {
	-webkit-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1);
	-webkit-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
	-moz-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
	-o-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
	transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.660, 1.650);
}

.jump-down-small {
	-webkit-transition: bottom 0.4s cubic-bezier(0.600, 0, 0.735, 0.045);
	-webkit-transition: bottom 0.4s
		cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-moz-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-o-transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
	transition: bottom 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.ease-left {
	-webkit-transition: left 1.0s ease;
	-webkit-transition: left 1.0s ease;
	-moz-transition: left 1.0s ease;
	-o-transition: left 1.0s ease;
	transition: left 1.0s ease;
}

.ease-transform {
	-webkit-transition: transform 1.0s ease;
	-webkit-transition: transform 1.0s ease;
	-moz-transition: transform 1.0s ease;
	-o-transition: transform 1.0s ease;
	transition: transform 1.0s ease;
}

.scene {
	height: 100%;
}

.scene-background {
	width: 100%;
	height: 100%;
	width: 8000px;
	height: 6000px;
	bottom: 0px;
	background-color: transparent;
}

.scene-far-background {
	width: 8000px;
	height: 6000px;
	bottom: 0px;
	background: linear-gradient(#0000C0, #87CEEB);
}

.tree-1 {
	width: 150px;
	height: 300px;
	background-image: url(images/tree-1.png);
}

.tree-2 {
	width: 200px;
	height: 400px;
	background-image: url(images/tree-2.png);
}

.tree-3 {
	width: 300px;
	height: 600px;
	background-image: url(images/tree-3.png);
}

.tree-4 {
	width: 400px;
	height: 800px;
	background-image: url(images/tree-4.png);
}

.cloud-1 {
	width: 400px;
	height: 150px;
	background-image: url(images/cloud-1.png);
}

.cloud-2 {
	width: 300px;
	height: 100px;
	background-image: url(images/cloud-2.png);
}

.on-the-ground {
	bottom: 100px;
}

.ground {
	max-height: 200px;
	height: 15%;
	bottom: 0px;
}

.ground-flooring-lab {
	width: 100%;
	height: 40px;
	background-image: url(images/ground-flooring-concrete.png);
}

.ground-flooring-rocket {
	width: 100%;
	height: 30px;
	background-image: url(images/ground-flooring-tile.png);
}

.ground-foundation-lab {
	width: 100%;
	top: 40px;
	height: 160px;
	background-image: url(images/ground-pipes.png);
}

.ground-foundation-rocket {
	background-image: url(images/ground-rocket-pipes.png);
}

.display-large {
	width: 800px;
	height: 380px;
	background-image: url(images/display-large.png);
}

.wall-laboratory {
	height: 400px;
	width: 30px;
	background-image: url(images/wall-lab.png);
}

.wall-rocket {
	width: 30px;
	background-image: url(images/wall-rocket.png);
	height: 9000px;
	bottom: 650px
}

.teleporter {
	height: 400px;
	width: 261px;
}

.teleporter-console {
	height: 275px;
	width: 240px;
	left: 320px;
	background-image: url(images/teleporter-console.png);
}

.teleporter-console>h1 {
	color: #52ade1;
	width: 100%;
	text-align: center;
	font-family: tektrron;
	font-size: 30px;
	margin: 6px 0px;
}

.teleporter-screen {
	left: 35px;
	bottom: 20px;
	background-color: #282828;
	width: 170px;
	height: 200px;
	margin: 0px auto;
}

.teleporter-screen>button {
	font-family: code-new-roman;
	font-size: 24px;
	color: #33FF33;
	background-color: transparent;
	width: 100%;
	border: 2px solid transparent;
	height: 16.6667%;
	outline: none;
	-webkit-transition: border 0.3s, background 0.3s, color 0.3s;
	-moz-transition: border 0.3s, background 0.3s, color 0.3s;
	-o-transition: border 0.3s, background 0.3s, color 0.3s;
	transition: border 0.3s, background 0.3s, color 0.3s;
}

.teleporter-screen>button:hover {
	border: 2px solid #33FF33;
}

.teleporter-screen>button:active {
	border: 2px solid #33FF33;
	background-color: #33FF33;
	color: #282828;
}

.background-laboratory {
	width: 5400px;
	height: 400px;
	left: 0px;
	background-image: url(images/background-lab.png);
}

.ceiling-laboratory {
	width: 5400px;
	height: 75px;
	bottom: 375px;
	left: 0px;
	background-image: url(images/ceiling-lab.png);
}

.title-sign {
	color: #33FF33;
	width: 450px;
	height: 240px;
	text-align: center;
	left: 675px;
	transform: translateY(-160px);
	background-image: url(images/title-sign.png);
}

.title-sign-screen {
	width: 410px;
	height: 160px;
	overflow: hidden;
	bottom: 20px;
	left: 20px;
}

.title-sign-wrapper {
	width: 100%;
	height: 200%;
}

.title-sign-wrapper>h1 {
	font-size: 64px;
	font-family: tektrron;
	width: 100%;
	top: 25%;
	transform: translateY(-50%);
	margin: 0px;
}

.title-sign-wrapper>h2 {
	font-size: 32px;
	font-family: tektrron;
	width: 100%;
	margin: 0px;
	top: calc(50% + 10px);
}

.title-sign-wrapper>h3 {
	font-size: 24px;
	font-family: code-new-roman;
	width: 80%;
	margin: 0px;
	top: calc(50% + 60px);
	left: 50%;
	transform: translateX(-50%);
}

.title-sign-wrapper-transformed {
	transform: translateY(-50%);
}

.hanging-sign {
	color: #33FF33;
	width: 240px;
	height: 160px;
	text-align: center;
	transform: translateY(-240px);
	background-image: url(images/hanging-sign.png);
}

.hanging-sign>h1 {
	font-size: 32px;
	font-family: tektrron;
	width: 100%;
	margin: 0px;
	top: 100px;
	transform: translateY(-50%);
}

.hanging-sign>h2 {
	font-size: 26px;
	font-family: tektrron;
	width: 100%;
	margin: 0px;
	top: 100px;
	transform: translateY(-50%);
}

.hanging-sign>h3 {
	font-size: 24px;
	font-family: tektrron;
	width: 100%;
	margin: 0px;
	top: 100px;
	transform: translateY(-50%);
}

.discipline-label {
	width: 1036px;
	height: 380px;
	overflow: hidden;
}

.discipline-tank {
	width: 218px;
	height: 380px;
	background-image: url(images/discipline-tank.png);
	horizontal-align: center;
}

.discipline-tank>h1 {
	width: 200px;
	top: 340px;
	height: 40px;
	margin: 0px;
	text-align: center;
	font-size: 24px;
	font-family: code-new-roman;
}

.discipline-tank-fluid {
	width: 146px;
	height: 350px;
	background-color: #FF08C2;
	opacity: 0.7;
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	transition: transform 1.0s;
}

.discipline-tank-fluid-hidden {
	transform: translateY(100%);
}

.fluid-bubble {
	-webkit-animation-name: bubble-float; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
	animation-name: bubble-float;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	bottom: 0px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #FFFFFF;
	opacity: 0.4;
}

.fluid-bubble1 {
	-webkit-animation-delay: 50ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1500ms; /* Chrome, Safari, Opera */
	animation-delay: 50ms;
	animation-duration: 1500ms;
}

.fluid-bubble2 {
	-webkit-animation-delay: 600ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2000ms; /* Chrome, Safari, Opera */
	animation-delay: 600ms;
	animation-duration: 2000ms;
}

.fluid-bubble3 {
	-webkit-animation-delay: 200ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1900ms; /* Chrome, Safari, Opera */
	animation-delay: 200ms;
	animation-duration: 1900ms;
}

.fluid-bubble4 {
	-webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1300ms; /* Chrome, Safari, Opera */
	animation-delay: 500ms;
	animation-duration: 1300ms;
}

.fluid-bubble5 {
	-webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1800ms; /* Chrome, Safari, Opera */
	animation-delay: 100ms;
	animation-duration: 1800ms;
}

.fluid-bubble6 {
	-webkit-animation-delay: 650ms; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2200ms; /* Chrome, Safari, Opera */
	animation-delay: 650ms;
	animation-duration: 2200ms;
}

.particle-viewer {
	width: 498px;
	height: 350px;
	left: 3800px;
	background-color: #282828;
}

.particle-viewer-frame {
	width: 500px;
	height: 350px;
	background-image: url(images/particle-viewer.png);
	top: 0px;
	left: -1px;
}

.particle-viewer-image-wrapper {
	left: 24px;
	bottom: 50px;
	width: 450px;
	height: 275px;
	overflow: hidden;
}

.particle-viewer-image {
	width: 100%;
	height: 100%;
	bottom: 0px;
}

.particle-viewer-image>div {
	width: 100%;
	height: 100%;
	bottom: 100%;
	backgroud-color: #282828;
}

.particle-viewer-particles {
	width: 110%;
	bottom: 0px;
	left: 0px;
	height: 100%;
	background-image: url('images/particle.png');
	background-position: bottom; -webkit-animation : particle-viewer-image
	infinite linear 15s, particle-viewer-particle infintie linear 1s;
	animation: particle-viewer-image infinite linear 15s,
		particle-viewer-particle infinite linear 1s;
	-webkit-transition: height 1.0s ease;
	-webkit-transition: height 1.0s ease;
	-moz-transition: height 1.0s ease;
	-o-transition: height 1.0s ease;
	transition: height 1.0s ease;
	-webkit-animation: particle-viewer-image infinite linear 15s,
		particle-viewer-particle infintie linear 1s;
}

.particle-viewer-lightning {
	left: 25px;
	bottom: 50px;
	width: 450px;
	height: 275px;
	background-image: url('images/particle-viewer-lightning.png');
	-webkit-animation-name: particle-viewer-lightning;
	/* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	/* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
	animation-name: particle-viewer-lightning;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 5s;
}

.lcd-wsu {
	width: 350px;
	height: 350px;
	left: 4975px;
	background-image: url('images/lcd-wsu.png');
}

.lcd-wsu-on {
	width: 350px;
	height: 350px;
	background-image: url('images/lcd-wsu-on.png');
}

.battery {
	width: 59px;
	height: 59px;
	background-image: url('images/battery.png');
}

.elevator-cargo {
	width: 300px;
	height: 20px;
	left: 6263px;
	transform: translateY(20px);
}

.thruster-small {
	width: 31px;
	height: 19px;
	background-image: url('images/thruster-small.png');
}

.thruster-small-on {
	width: 31px;
	height: 19px;
	background-image: url('images/thruster-small-on.png');
}

.rocket {
	width: 2420px;
	height: 8000px;
	left: 6563px;
}

.rocket-engine {
	width: 400px;
	height: 600px;
	background-image: url('images/rocket-engine.png');
	bottom: 50px;
}

.rocket-hatch {
	width: 30px;
	height: 300px;
	background-image: url('images/wall-rocket-door.png');
}

.rocket-hatch-close {
	left: 0px;
	transform: translateY(0px);
	transition: left 1s ease 1s, transform 1s ease;
}

.rocket-hatch-open {
	left: 30px;
	transform: translateY(-330px);
	transition: left 1s ease, transform 1s ease 1s;
}

.rocket-hatch-frame {
	width: 30px;
	height: 300px;
	background-color: #BFBFBF;
}

.background-rocket {
	width: 100%;
	height: calc(100% - 650px);
	bottom: 650px;
	left: 0px;
	background-color: #f2f2f2;
}

.background-engine-room {
	width: 2380px;
	height: 700px;
	left: 15px;
	background-color: #737373;
	-webkit-transition: background-color 1.0s;
	-moz-transition: background-color 1.0s;
	-o-transition: background-color 1.0s;
	transition: background-color 1.0s;
}

.background-engine-room>div {
	width: 100%;
	height: 100%;
	background-image: url('images/background-engine-room.png');
}

.skills-wrapper {
	width: 770px;
	height: 350px;
	bottom: 1125px;
	left: 595px;
}

.skills-wrapper>h1 {
	margin: 0px;
	text-align: center;
	font-size: 26px;
	font-family: tektrron;
	color: #33FF33;
}

.skills-wrapper>h2 {
	margin: 0px 0px 0px 260px;
	font-size: 22px;
	font-family: code-new-roman;
	color: #33FF33;
}

.skills-wrapper>h2>span {
	width: 120px;
	display: inline-block;
}

.skills-wrapper>h3 {
	margin: 10px 0px 0px 10px;
	font-size: 22px;
	font-family: code-new-roman;
	color: #33FF33;
}

.skills-wrapper-line {
	width: 2px;
	height: 290px;
	background-color: #33FF33;
	bottom: 5px;
}

.skills-battery {
	height: 24px;
	background-image: url(images/skills-battery.png);
}

.skills-code {
	height: 24px;
	background-image: url(images/skills-code.png);
}

.skills-hardware {
	height: 24px;
	background-image: url(images/skills-wrench.png);
}

.skills-fine-art {
	height: 24px;
	background-image: url(images/skills-pencil.png);
}

.engine-room-console {
	width: 150px;
	height: 210px;
	left: 1400px;
	bottom: 1180px;
	background-image: url(images/engine-room-console.png);
}

.engine-room-console>h1 {
	width: 150px;
	height: 60px;
	text-align: center;
	font-size: 26px;
	font-family: tektrron;
	color: #52ade1;
	margin: 0px;
}

.engine-room-console>div {
	width: 130px;
	height: 140px;
	top: 60px;
	left: 10px;
}

.engine-room-console>div>button {
	width: 100%;
	height: 25%;
	font-size: 20px;
	font-family: code-new-roman;
	color: #33FF33;
	border: 0px;
	padding: 0px;
	background-color: #282828;
}

.engine-room-console>div>button:hover {
	border: 2px solid #33FF33;
}

.engine-room-console>div>button:active {
	border: 2px solid #33FF33;
	background-color: #33FF33;
	color: #282828;
}

.engine-room-wire {
	width: 100px;
	height: 20px;
	left: 329px;
	bottom: 1000px;
	background-image: url(images/rocket-engine-power-cable.png);
	background-position: right;
}

.engine-room-wire>div {
	width: 19px;
	height: 28px;
	right: 0px;
	bottom: -4px;
	background-image: url(images/rocket-engine-power-plug.png);
}

.engine-room-jack {
	width: 39px;
	height: 76px;
	left: 1700px;
	bottom: 950px;
	background-image: url(images/rocket-engine-power-jack.png);
}

.engine-room-cables {
	width: 517px;
	height: 250px;
	bottom: 1400px;
	background-image: url(images/rocket-engine-room-cables.png);
}

.engine-room-cables-long {
	width: 669px;
	height: 250px;
	bottom: 1400px;
	background-image: url(images/rocket-engine-room-cables-long.png);
}

.pneumatic-tube {
	width: 150px;
	height: 2000px;
	bottom: 1200px;
	left: 8763px;
	background-image: url(images/pneumatic-elevator-tube.png);
}

.pneumatic-tube-station {
	width: 150px;
	height: 250px;
	bottom: 950px;
	left: 8763px;
	background-image: url(images/pneumatic-elevator-station.png);
}

.pneumatic-tube-station-rear {
	width: 150px;
	height: 250px;
	bottom: 950px;
	left: 2200px;
	background-image: url(images/pneumatic-elevator-station-rear.png);
}

.pneumatic-tube-station-rear>div {
	width: 150px;
	height: 250px;
	background-image: url(images/pneumatic-elevator-station.png);	
}

.horizontal-line {
	width: 100%;
	height: 1px;
}

.white {
	background-color: #FFFFFF;
}

.green {
	background-color: #33FF33;
}

.caution-tape {
	background-image: url(images/caution-tape.png);
}

.rover {
	width: 225px;
	height: 155px;
	left: 1300px;
}

.rover-chassis {
	width: 225px;
	height: 40px;
	bottom: 15px;
	background-image: url(images/rover-chassis.png);
}

.rover-mast {
	width: 34px;
	height: 100px;
	left: 185px;
	bottom: 55px;
	background-image: url(images/rover-mast.png);
}

.rover-wheel {
	width: 60px;
	height: 60px;
	bottom: 0px;
	background-image: url(images/rover-wheel.png);
}

.rover-tractor-beam {
	width: 200px;
	height: 75px;
	top: -30px;
	left: 215px;
	transform-origin: 0% 50%;
	background-image: url(images/rover-tractor-beam.png);
}

@keyframes bubble-float {
	0%	 {transform: translateY(0px); }
	70%	 {transform: translateY(-245px); opacity: 0.4;}
	100% {transform: translateY(-350px); opacity: 0;}
}

@-webkit-keyframes bubble-float {
	0%	 {transform: translateY(0px); }
	70%	 {transform: translateY(-245px); opacity: 0.4;}
	100% {transform: translateY(-350px); opacity: 0;}
}

@keyframes particle-viewer-particle {
	0%	 {left: 0px}
	100% {left: -10px}
}

@-webkit-keyframes particle-viewer-particle {
	0%	 {left: 0px}
	100% {left: -10px}
}