.tile {
  border: 2px solid var(--color-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tile-link {
  display: block;
  color: var(--color-light);
  text-decoration: none;
  flex: 1;
}

.tile-title {
  padding: 0.5rem;
  background: var(--color-secondary);
}

.tile-link:hover {
  color: var(--color-light);
  text-decoration: none;
}

.tile-link:hover .tile-title {
  background: var(--color-primary);
  color: var(--color-dark);
}

.tile-link>* {
  margin: 0;
}

.tile-link>h4 {
  padding: 0.5rem;
}

.tile-link>h5 {
  padding: 0.5rem;
}

.tile>p {
  padding: 0.5rem;
}

@media (min-width: 769px) {
  .tile {
    min-height: 20rem;
  }
  .tile-title {
    min-height: 7rem;
  }
}