.paper {
  width: 8.5in;
  height: 11in;
  border: solid transparent 0.5in;
  box-sizing: border-box;
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0 auto 0.25in auto;
  font-size: 13px;
}

.paper.margins {
  border-color: red;
}

.paper:last-of-type {
  margin-bottom: 0;
}

#resume>h1 {
  margin: -14px 0 0 -6px;
  font-size: 56px;
  color: #4A9CCB;
  color: var(--color-primary-d10);
}

#resume>h2 {
  margin: -6px 0 0 -3px;
  font-size: 30px;
}

#resume>h3 {
  margin: 0 0 2px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

#link-cell, #link-email, #link-github, #link-web {
  padding: 0 0 0 24px;
  color: #282828;
  color: var(--color-dark);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
}

#link-cell {
  background-image: url(/images/cell.png);
}

#link-email {
  background-image: url(/images/contact.png);
}

#link-github {
  background-image: url(/images/github-dark.png);
}

#link-web {
  background-image: url(/images/web.png);
}

hr {
  border-top: 1px solid var(--color-dark);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#panels h1 {
  margin: 0;
  font-size: 22px;
  color: #4A9CCB;
  color: var(--color-primary-d10);
}

#panels h2 {
  margin: 0;
  font-size: 16px;
}

#panels h3 {
  margin: 0;
  font-size: 14px;
  color: #949494;
  color: var(--color-dark-b50);
}

#xp {
  width: 60%;
}

#info {
  width: 38%;
}

p {
  margin: 2px 0 0 16px;
  text-indent: -16px;
}

.section {
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: solid var(--color-dark) 1px;
}

.section:last-of-type {
  border: none;
}

.section>h2>span {
  color: #949494;
  color: var(--color-dark-b50);
}

.section>ul {
  margin-bottom: 4px;
}

.column-root {
  column-count: 2;
  column-gap: 6px;
}

#info h2 {
  text-align: center;
  border-bottom: dotted 1px var(--color-dark-b50);
}